<footer>
  <% const year = new Date().getFullYear(); %>
  <p>
    Copyright ⓒ
    <a style="text-decoration: none" href="https://github.com/geengene "
      >Gene</a
    >
    <%= year %>
  </p>
</footer>
<style>
  footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
