<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&text=settings,info"
    />
    <title>Header</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Language Learner</a></h1>
      <div class="headerBtns">
        <button id="updateBtn">Update Database</button>
        <button id="secondaryBtn">Check Database</button>
        <button
          style="
            font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 16;
          "
          id="settingsBtn"
        >
          <span class="material-symbols-outlined"> settings </span>
        </button>
        <button
          style="
            font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 16;
          "
          id="infoBtn"
        >
          <span class="material-symbols-outlined"> info </span>
        </button>
      </div>
      <div id="settingsModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <div class="settingsForm">
            <form action="/settings" method="post">
              <div class="vocabLimit">
                <h4>Vocabulary Limit:</h4>
                <input
                  type="number"
                  name="vocab_limit"
                  value="<%= vocabLimit %>"
                  min="1"
                  max="50"
                  required
                />
              </div>
              <button id="saveBtn" type="submit">Save Changes</button>
            </form>
          </div>
        </div>
      </div>
      <div id="infoModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <div class="information">
            <h1>Shortcuts</h1>
            <h3>When practising Vocabulary:</h3>
            <p>Space Bar - Reveals answer</p>
            <p>
              1, 2, 3 and 4 selects [easy], [medium], [hard] and [again]
              respectively
            </p>
          </div>
        </div>
      </div>
      <div id="updateModal" class="modal">
        <div class="loadingBar">
          <h1>Hold on tight! Fetching data...</h1>
          <div class="wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const secondaryBtn = document.getElementById("secondaryBtn");
    const currentPath = window.location.pathname;

    if (currentPath === "/") {
      secondaryBtn.onclick = function () {
        window.location.href = "/database";
      };
      secondaryBtn.textContent = "Check Database";
    } else if (currentPath === "/database") {
      secondaryBtn.onclick = function () {
        window.location.href = "/database/add-to-database";
      };
      secondaryBtn.textContent = "Add to Database";
    }
  });

  var settingsModal = document.getElementById("settingsModal");
  var settingsBtn = document.getElementById("settingsBtn");
  var settingsSpan = document.getElementsByClassName("close")[0];
  settingsBtn.onclick = function () {
    settingsModal.style.display = "block";
  };
  settingsSpan.onclick = function () {
    settingsModal.style.display = "none";
  };

  var infoModal = document.getElementById("infoModal");
  var infoBtn = document.getElementById("infoBtn");
  var infoSpan = document.getElementsByClassName("close")[1];
  infoBtn.onclick = function () {
    infoModal.style.display = "block";
  };
  infoSpan.onclick = function () {
    infoModal.style.display = "none";
  };

  var updateModal = document.getElementById("updateModal");
  var updateBtn = document.getElementById("updateBtn");
  updateBtn.addEventListener("click", () => {
    updateModal.style.display = "block";
    fetch("/populate")
      .then((response) => {
        if (response.ok) {
          window.location.href = "/database";
        } else {
          alert("error executing script");
        }
      })
      .finally(() => {
        updateModal.style.display = "none";
      });
  });

  window.onclick = function (event) {
    if (event.target == settingsModal) {
      settingsModal.style.display = "none";
    } else if (event.target == infoModal) {
      infoModal.style.display = "none";
    }
  };
</script>

<style>
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(233, 210, 181);
    color: #56aa5a;
    width: 100vw;
    padding: 0px 20px;
    text-align: justify;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  header h1 a {
    color: #56aa5a;
    text-decoration: none;
  }
  .headerBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  header button {
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: white;
    border: none;
    margin: 0;
    padding: 16px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  header button:hover {
    background-color: #0056b3;
  }
  header button:nth-of-type(2) {
    background-color: #28a745;
    transition: background-color 0.3s ease;
  }
  header button:nth-of-type(2):hover {
    background-color: #196e2d;
  }
  #settingsBtn {
    padding: 13px 20px;
  }
  #infoBtn {
    padding: 13px 20px;
    margin-right: 2vw;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.665);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 80%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .settingsForm {
    margin: 30px 30px 30px 30px;
    height: 100%;
  }
  .vocabLimit {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .vocabLimit h4 {
    font-size: 1.5rem;
  }
  .vocabLimit input {
    font-size: 1.5rem;
    height: 20px;
    width: 60px;
    margin: 8px;
  }
  #saveBtn {
    float: right;
  }

  .loadingBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40vh;
  }
  .wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
  }
  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 0.5s alternate infinite ease;
  }
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }

    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }

    100% {
      top: 0%;
    }
  }
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: 0.2s;
  }
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
  }
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 0.5s alternate infinite ease;
  }

  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }

    40% {
      transform: scaleX(1);
      opacity: 0.7;
    }

    100% {
      transform: scaleX(0.2);
      opacity: 0.4;
    }
  }

  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: 0.2s;
  }

  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
  }
</style>
