<header>
  <h1>Language Learner</h1>
  <button onclick="window.location.href='/populate'">Update database</button>
</header>
<style>
  header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: khaki;
    color: green;
    width: 100vw;
    margin: 0;
    padding: 0px 20px;
    text-align: justify;
  }
  header button {
    background-color: #007bff;
    color: white;
    border: none;
    margin: 0 2vw;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  header button:hover {
    background-color: #0056b3;
  }
</style>
