<header>
  <h1>Language Learner</h1>
  <div>
    <button onclick="window.location.href='/populate'">Update Database</button>
    <button id="secondaryButton">Check Database</button>
  </div>
</header>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const secondaryButton = document.getElementById("secondaryButton");
    const currentPath = window.location.pathname;

    if (currentPath === "/") {
      secondaryButton.onclick = function () {
        window.location.href = "/database";
      };
      secondaryButton.textContent = "Check Database";
    } else if (currentPath === "/database") {
      secondaryButton.onclick = function () {
        window.location.href = "/database/add-to-database";
      };
      secondaryButton.textContent = "Add to Database";
    }
  });
</script>
<style>
  header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: burlywood;
    color: #56aa5a;
    width: 100vw;
    margin: 0;
    padding: 0px 20px;
    text-align: justify;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  header button {
    background-color: #007bff;
    color: white;
    border: none;
    margin: 0;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  header button:hover {
    background-color: #0056b3;
  }
  header button:nth-of-type(2) {
    background-color: #28a745;
    margin-right: 2vw;
    transition: background-color 0.3s ease;
  }
  header button:nth-of-type(2):hover {
    background-color: #196e2d;
  }
</style>
