<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>main</title>
  </head>

  <body>
    <%- include("partials/header.ejs") %>
    <div class="welcomeText">
      <h1>Welcome</h1>
      <h4>What would you like to practice today?</h4>
    </div>
    <div class="actionButtons">
      <!-- TODO:create landing page -> username, password, get jwt token, select language,    -->
      <button onclick="window.location.href='/vocabulary'">Vocabulary</button>
      <button onclick="window.location.href='/pronunciation'">
        Pronunciation
      </button>
      <button onclick="window.location.href='/writing'">Writing</button>
      <button onclick="window.location.href='/reading'">Reading</button>
    </div>
  </body>
</html>
