<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Duolingo Learner</title>
  </head>

  <body>
    <h1>Welcome</h1>

    <button onclick="window.location.href='/populate'">Update database</button>
  </body>
</html>
