body {
  margin: 0;
  padding: 0;
}
.database {
  border-style: solid;
  margin: 0 5px;
  padding: 8px;
  display: flex;
  align-items: center;
}
.database * {
  margin: 8px;
}
.database h4 {
  font-size: larger;
}
