body {
  margin: 0;
  padding: 0;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
.card {
  text-align: center;
}

.diffButton {
  width: fit-content;
  font-size: 1.5rem;
  color: #333131;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #333131;
  box-shadow: 3px 3px #333131;
  cursor: pointer;
  margin: 35px 0;
}

#again {
  background-color: #c45858;
}
#easy {
  background: #56aa5a;
}
#medium {
  background: #dad269;
}
#hard {
  background: #d6804e;
}

.diffButton:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
.active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
.hidden {
  display: none;
}

.modalBackground {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 80%;
}

#anotherModal,
#exitModal {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}
.modalContent button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.modalContent button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.finishBtns {
  float: right;
}
